body {
    display: flex;
    flex-direction: column;
    background-image: url(third.jpg);
    min-height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}


#azure{
    background: linear-gradient(110deg, #3F84E5 30%, #ffed4b00 70%);
    height: 20em;
    width: 80%;
}

#azure:hover {
    animation: myAnim2 1s ease 0s 1 forwards;
}

@keyframes myAnim2 {
	0% {
        background: linear-gradient(110deg, #3F84E5 30%, #ffed4b00 70%);
        height: 20em;
        width: 80%;
	}

    50% {
        background: linear-gradient(110deg, #3F84E5 30%, #3F84E587 70%);
        height: 20em;
        width: 85%;
    }

	100% {
		background: none;
        background-color:#3F84E5 ;
        height: 20em;
        width: 90%;
	}
}

#red {
    background: linear-gradient(110deg, #B20D30 30%, #ffed4b00 70%);
    height: 20em;
    width: 80%;
}

#black {
    background: linear-gradient(110deg, #272727 30%, #ffed4b00 70%);
    height: 20em;
    width: 80%;
}

#brown:hover {
    animation: myAnim 1s ease 0s 1 forwards;
}

@keyframes myAnim {
	0% {
        background: linear-gradient(110deg, #CA907E 30%, #ffed4b00 70%);
        height: 20em;
        width: 80%;
	}

    50% {
        background: linear-gradient(110deg, #CA907E 30%, #ca907e87 70%);
        height: 20em;
        width: 85%;
    }

	100% {
		background: none;
        background-color:#CA907E ;
        height: 20em;
        width: 90%;
	}
}

#brown{
    background: linear-gradient(110deg, #CA907E 30%, #ffed4b00 70%);
    height: 20em;
    width: 80%;
}

#brown:hover {
    animation: myAnim 1s ease 0s 1 forwards;
}

@keyframes myAnim {
	0% {
        background: linear-gradient(110deg, #CA907E 30%, #ffed4b00 70%);
        height: 20em;
        width: 80%;
	}

    50% {
        background: linear-gradient(110deg, #CA907E 30%, #ca907e87 70%);
        height: 20em;
        width: 85%;
    }

	100% {
		background: none;
        background-color:#CA907E ;
        height: 20em;
        width: 90%;
	}
}


.main {
    color: #FFFFF2
}


header {
    background-color: #272727;
    height: 10%;
    width: 100%;
    font-display: none;
    text-align: center;
    position:  fixed;
    border-radius: 2em;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    font-size: 2.5em;
    color: #FFFFF2;
    justify-content: space-evenly;

}


footer{
    height:10em;
    width: 100%;
    background-color: #3F84E5;
    margin-top: 12em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em ;
    display: flex;
    color: #FFFFF2;
}

footer h2{
    margin: auto;
    

}

@media screen and (max-width: 770px) {
    body {
        flex-direction: column;
    }

    header {
        height: 10%;
        width: 100%;
        font-size: .6em;
    }

    #white{
        background: none;
        background-color: #FFFFF2a7;
        backdrop-filter: blur(8px);
        border-radius: 2em;
        height: 20em;
        width: 100%;
        
    }
    
    #azure{
        background: none;
        background-color: #3F84E5a7;
        backdrop-filter: blur(8px);
        border-radius: 2em;
        height: 20em;
        width: 100%;
    }
    
    #red {
        background: none;
        background-color: #B20D30a7;
        backdrop-filter: blur(8px);
        border-radius: 2em;
        height: 20em;
        width: 100%;
    }
    
    #black {
        background: none;
        background-color: #272727a7;
        backdrop-filter: blur(8px);
        border-radius: 2em;
        height: 20em;
        width: 100%;
    }
    
    #brown{
        background: none;
        background-color: #ca907ea7;
        backdrop-filter: blur(8px);
        border-radius: 2em;
        height: 20em;
        width: 100%;
    }
  }