/*
white: FFFFF2
Azure: 3F84E5
Red Ncs: B20D30
Raisin Black: 272727
Antique Brass: CA907E

*/

body {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fffff2;
}

header {
    background-color: rgba(64, 64, 64, 0.15);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 15%;
    flex-direction: column;
    text-align: end;
    position: fixed;
    font-style: normal;
    font-display: none;
}

nav a {
    font-size: 3em;
    color: #B20D30;
}
#parallax {
    background-image: url("first.jpg");
    min-height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 3em;
    top: 2em;
    left: 1em;
    text-align: left;
}

#first {
    background-color: brown;
    height: 30em;
    width: 100%;
}
#under {
    flex-flow: column;
    border-radius: 3em;
    background-color: #fffff2;
}

#top {
    width: 100%;
    height: 60em;
}


.sub {
    height: 25em;
    width: 85%;
    margin-top: -5em;
    flex-flow: row wrap;
    padding-top: 2em;
}
#second {

    border-radius: 1em;
}
#second img {
     margin-right: 2em;
}

#second p {
    margin:0 0 2em 2em;
    
}
.sub img{
    height: 100%;
    width: 60%;
}
.sub p {
   height: 100%;
   width: 30%;
}

.right {
    float: right;
}

.left {
    float: left;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    header {
        background-color: rgb(64, 64, 64);
        height: 10%;
        width: 100%;
    }
  }