/*
white: FFFFF2
Azure: 3F84E5
Red Ncs: B20D30
Raisin Black: 272727
Antique Brass: CA907E

*/

body {
    display: flex;
    flex-direction: column;
    background-color: #fffff2;
}

header {
    background-color: #272727;
    height: 10%;
    width: 100%;
    font-display: none;
    text-align: center;
    position:  fixed;
    border-radius: 2em;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    font-size: 3em;
    color: #B20D30;
    justify-content: space-evenly;

}

footer{
    height:10em;
    width: 100%;
    background-color: #3F84E5;
    margin-top: 12em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em ;
}
#parallax {
    background-image: url("first.jpg");
    min-height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#overlay {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 3em;
    top: 0em;
    left: 0em;
    padding-left: 1.5em;
    padding-top: 2em;
    text-align: left;
    z-index: 1;
    background-color: rgba(64, 64, 64, 0.15);
    backdrop-filter: blur(8px);
    height: 130%;
    z-index: 0;
}

#first {
    background-color: brown;
    height: 30em;
    width: 100%;
}
#under {
    flex-flow: column;
    position: relative;
    border-radius: 3em;
    background-color: #fffff2;
    z-index: 2;
}

#top {
    width: 100%;
    height: 60em;
}


.sub {
    height: 25em;
    width: 85%;
    margin-top: -5em;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
    padding-top: 2em;
    z-index: 1;
}
#second {

    border-radius: 1em;
}
#second img {
     margin-right: 2em;
}
#third img {
    margin-left: 2em;
}

#second p {
    margin:5.5em 0 2em 2em;
    
}
.sub img{
    height: 100%;
    width: 60%;
}
.sub p {
   height: 100%;
   width: 30%;
   margin-top: 6em;
   margin-right: 4em;
}

.sub2{
    height: 15em;
    width: 100%;
    background-color: #3F84E5;
    background-color: #fffff2;
}

#background{
    background-color: #CA907E;
    padding-top: 3em;
    height: 100%;
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

@media screen and (max-width: 770px) {
    body {
        flex-direction: column;
    }

    header {
        background-color: rgb(64, 64, 64);
        height: 10%;
        width: 100%;
    }
  }